<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/Styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" defer src="/Javascript/Menu.js"></script>
  <script type="text/javascript" defer src="/Javascript/HomeButton.js"></script>
  <script type="text/javascript" defer src="./Javascript/Footer.js"></script>

  <title>About | Mutts</title>

  <div class="background">
    
    <div class="home-button" >
        <a href = '/Home'>
            <div id="homepage-button"></div>
        </a>
    </div>
 
      <div style = "padding-top: 30px;" ></div>
            
      <div style = "padding-top: 120px;" ></div>
                  
       <%- include('Menu.ejs')%>

  <div style="margin-top: 40px;"></div>

  <div class="text-white center" style="margin: auto; font-size: 15px;">
    <p>      
        Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
        nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

</head>
<body>
  
  <div style = "padding-top: 200px;"></div>

  <footer class="footer">Footer</footer>

  <div style = "padding-top: 50px;"></div>
   

  <footer class = "footer">
      <span id = "cc"></span>  
  </footer>

  <div style = "padding-top: 20px;"></div>

  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <div id="license" style="border-width:0;"></div>   
  </a>
  <div class="text-white center">
  <br />This work is licensed under a 
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </div>

  </div>

</body>
</html>
