<link type="text/css" rel="stylesheet" href="/css/Styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" defer src="/Javascript/Menu.js"></script>
<script type="text/javascript" defer src="/Javascript/HomeButton.js"></script>
<script type="text/javascript" defer src="/Javascript/Footer.js"></script>

<title>Characters | Mutts</title>
