<div class="navbar">
    <a href="/1.3" class="button mobile hide-small">Lastest page</a>
    <a href="/Archive" class="button mobile hide-small hide-small-2">Archive</a>
    <div class="subnav mobile hide-small hide-small-2 hide-small-3 hide-medium">
        <button class="subnavbtn button">Characters <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/Characters/TM" class="button">The Gang</a>
            <a href="/Characters/SC" class="button">Supporting charaters</a>
            <a href="/Characters/Spoilers" class="button">Spoilers</a>
        </div>
    </div>
    <a href="/About"
        class="bar-item button mobile hide-small hide-small-2 hide-small-3 hide-medium hide-medium-2">About</a>
    <div id="show-menu" class=" button mobile right hide-large" style="font-size:x-large; color: white;">&#9776;</div>
</div>

<div id="hidden-menu" class="bar bar-block red hide hide-large" style="width: 50%;">
    <a href="/1.3" class="bar-item button mobile hide-medium-2 hide-medium hide-small-3 hide-small-2">Lastest page</a>
    <a href="/Archive" class="bar-item button mobile hide-medium-2 hide-medium hide-small-3">Archive</a>
    <div class="dropdown-hover mobile hide-medium-2">
        <button class="button">Characters <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="/Characters/TM" class="button mobile">The Gang</a>
            <a href="/Characters/SC" class="button mobile">Supporting charater</a>
            <a href="/Characters/Spoilers" class="button mobile">Spoilers</a>
        </div>
    </div>
    <a href="/About" class="bar-item button mobile">About</a>
</div>
