<!DOCTYPE html>
<html>

<head>

    <%- include('Characters.ejs')%>
        <script type="text/javascript" defer src="/Javascript/LeftArrowCT.js"></script>

        <div class="background">

            <div class="home-button">
                <a href='/Home'>
                    <div id="homepage-button"></div>
                </a>
            </div>

            <div style="padding-top: 120px;"></div>

            <div style="padding-top: 20px;"></div>

            <%- include('Menu.ejs')%>

                <div style="margin-top: 10px;"></div>

                <header class="text-white center" style="padding-top: 25px;">
                    <div>
                        <h1>Supporting charaters</h1>
                    </div>
                </header>

                <div style="margin-top: 75px;"></div>

</head>

<body>

    <header class="text-white center" style="padding-top: 25px;">
        <div>
            <h1>Most prominent supporting charaters</h1>
        </div>
    </header>

    <div class="text-white center" style="margin: auto; font-size: 15px;">
        <p>
            Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
            nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <div style="margin-top: 75px;"></div>

    <div class="container">
        <div style="margin-left: 25%; float: left;">
            <header>
                <div class="text-white" style="float: left; margin-left: 210px; margin-bottom: 15px; margin-top: 25px;">
                    <h2>Name & Name</h2>
                </div>
            </header>
            <div class="text-white center" style="font-size: 15px; float: left; margin-right: 200px;">
                <h3 style="float: left; margin-left: 105px; font-size: 20px;">Name</h3>
                <h3 style="margin-left: 265px; float: left; font-size: 20px;">Name</h3>
                <p style="float: left; margin-right: 40px;">
                    Lorem ipsum dolor sit amet, <br>
                    consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt <br>
                    ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat. <br>
                    Lorem ipsum dolor sit amet, <br>
                    consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt <br>
                    ut labore et dolore magna aliqua.
                </p>
                <p style="margin-top: 17px; float: left;">
                    Lorem ipsum dolor sit amet, <br>
                    consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt <br>
                    ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat. <br>
                    Lorem ipsum dolor sit amet, <br>
                    consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt <br>
                    ut labore et dolore magna aliqua.
                </p>
            </div>
            <figure style="margin-left: 68%; margin-bottom: 82px;">
                <img type="img" src="/Images/Character-profile-image-placeholder.png" alt="image"
                    class="character-image" width="250px">
                </img>
            </figure>
            <div class="character-background" style="margin-left: 70.5%;"></div>
        </div>
        <figure style="margin-left: 3.25%; margin-bottom: 82px;">
            <img type="img" src="/Images/Character-profile-image-placeholder.png" alt="image" class="character-image"
                width="250px">
            </img>
        </figure>
        <div class="character-background" style="margin-left: 5%;"></div>
    </div>

    <div style="margin-top: 75px;"></div>

    <header class="text-white center" style="padding-top: 25px;">
        <div>
            <h1>The antagonist</h1>
        </div>
    </header>

    <div class="text-white center" style="margin: auto; font-size: 15px;">
        <p>
            Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
            nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <div style="margin-top: 75px;"></div>

    <div class="container">
        <div style="width: 50%;">
            <header>
                <div class="text-white" style="float: right; margin-right: 195px; margin-top: 40px;">
                    <h2>Name</h2>
                </div>
            </header>
            <div class="text-white center" style="font-size: 15px; float: right;">
                <p>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <figure style="margin-left: 60%; margin-bottom: 82px;">
            <img type="img" src="/Images/Character-profile-image-placeholder.png" alt="image" class="character-image"
                width="250px">
            </img>
        </figure>
        <div class="character-background" style="margin-left: 61.75%;"></div>
    </div>

    <div style="margin-top: 75px;"></div>

    <header class="text-white center" style="padding-top: 25px;">
        <div>
            <h1>Additional supporting charaters</h1>
        </div>
    </header>

    <div style="margin-top: 75px;"></div>

    <div class="container">
        <div style="margin-left: 50%;">
            <header>
                <div class="text-white" style="float: left; margin-top: 40px; margin-left: 190px;">
                    <h2>Name</h2>
                </div>
            </header>
            <div class="text-white center" style="font-size: 15px; float: left;">
                <p>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <figure style="margin-left: 20%; margin-bottom: 82px;">
            <img type="img" src="/Images/Character-profile-image-placeholder.png" alt="image" class="character-image"
                width="250px">
            </img>
        </figure>
        <div class="character-background" style="margin-left: 21.75%;"></div>
    </div>

    <div style="margin-top: 75px;"></div>

    <div class="container">
        <div style="width: 50%;">
            <header>
                <div class="text-white" style="float: right; margin-right: 190px; margin-top: 50px;">
                    <h2>Name</h2>
                </div>
            </header>
            <div class="text-white center" style="font-size: 15px; float: right;">
                <p>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.<br>
                    Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <figure style="margin-left: 60%; margin-bottom: 82px;">
            <img type="img" src="/Images/Character-profile-image-placeholder.png" alt="image" class="character-image"
                width="250px">
            </img>
        </figure>
        <div class="character-background" style="margin-left: 61.75%;"></div>
    </div>

    <div class="arrow" style="padding-top: 100px;">
        <div class="arrow-left">
            <a href="/Characters/TM">
                <span id="left-arrow-ct"></span>
                <span class="text-white">The gang</span>
            </a>
        </div>
    </div>

    <div style="margin-top: 250px;"></div>

    <footer class="footer">
        <span id="cc"></span>
    </footer>

    <div style="padding-top: 20px;"></div>

    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <div id="license" style="border-width:0;"></div>
    </a>
    <div class="text-white center">
        <br />This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
            International License</a>.
    </div>

</body>

</html>
