<div style="margin-top: 28px;"></div>

    <div id="select" class="custom-select" style="margin-left: 45%; width: 30%;">
        <form>
            <select>
                <optgroup label="Arc 1:">
                    <optgroup label="Chapter 1:">
                        <option value="/1.1">1.1</option>
                        <option value="/1.2">1.2</option>
                        <option value="/1.3">1.3</option>
                    </optgroup>
                </optgroup>     
            </select>
        </form>
    </div>
