<!DOCTYPE html>
<html>
<head>

    <%- include('Characters.ejs')%>

    <div class="background">
  
        <div class="home-button" >
          <a href = '/Home'>
              <div id="homepage-button"></div>
          </a>
        </div>  
        
        <div style = "padding-top: 120px;" ></div>
                  
        <div style = "padding-top: 20px;" ></div>
      
    <%- include('Menu.ejs')%>

    <div style="margin-top: 10px;"></div>

    <header class="center text-white" style="padding-top: 25px;">
        <h1>Others of note</h1>
    </header>
    
</head>
<body>

    <div style = "margin-top: 150px;"></div>

    <footer class="footer">Footer</footer>
  
    <div style = "padding-top: 50px;"></div>
  
    </div>

</body>
</html>