<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" defer src="/Javascript/LeftArrowCT.js"></script>
  <%- include('Characters.ejs')%>

  <div class="background">
  
    <div class="home-button" >
      <a href = '/Home'>
          <div id="homepage-button"></div>
      </a>
    </div>
    
    <div style = "padding-top: 120px;" ></div>
                  
    <div style = "padding-top: 20px;" ></div>
  
  <%- include('Menu.ejs')%>

  <div style="margin-top: 10px;"></div>
   
  <header class="text-white center" style="padding-top: 25px;">
    <div>
      <h1>Spoilers</h1> 
    </div>
  </header>
  
  <div style="margin-top: 25px;"></div>

  <div class="text-white center">
    <p>      
        Lorem ipsum dolor sit amet,consectetur adipiscing elit, <br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
        nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

</head>
<body>

  <div style="margin-top: 50px;"></div>

  <form class="center" onsubmit="showSpoilers()">
      <input type="text" name="Spoilers" id="show-spoilers" required>
      <button type="submit">Submit</button>
  </form>

  <script>
    function showSpoilers() {

      const codewords = document.getElementById('show-spoilers');

      if (codewords.value == 'Áine and Brian') {
        window.location = '/Characters/AnB';
        alert("Valid");
        
      }
      else {
        alert("Invalid")
      }
    }
  </script>

  <div class ="arrow" style="padding-top: 100px;">
    <div class ="arrow-left">
        <a href="/Characters/SC">
            <span id="left-arrow-ct"></span> 
            <span class="text-white">Supporting charaters</span>       
        </a>
    </div> 
  </div>

  <div style = "margin-top: 150px;"></div>

  <footer class="footer">Footer</footer>

  <div style = "padding-top: 50px;"></div>

  </div>

</body>
</html>